# macos files
/.DS_Store

# video files
*.avi
*.mp4

# AI model files
*.ckpt
*.pth
*.onnx
*.trt
*.engine

# calibration dataset
CEPDOF/
CEPDOF_calib/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]